footer{
	background-color: #2d2d2d;
	color: #fff;
	padding: 4vmax 0;

	& hr{
		margin: 20px 0;
		border-top: 1px solid #ffffff33;
		max-width: unset;
	}

	& img{
		height: clamp(30px, 2vw, 40px);
		margin-top: 20px;
	}

	& a{
		color: #fff;
	}
}